flask
psycopg2-binary
requests
python-dotenv
| المكتبة  | الدور     | علاقتها بـ ASM        |
| -------- | --------- | --------------------- |
| Flask    | API Layer | واجهة التحكم والتكامل |
| psycopg2 | Database  | تخزين وتتبع الحالة    |
| requests | OSINT     | Passive Discovery     |
| dotenv   | Security  | حماية الإعدادات       |



Flask
ماذا تفعل؟

Flask هو Web Framework يسمح لك بـ:

إنشاء REST APIs

استقبال الطلبات (HTTP)

إرسال النتائج بصيغة JSON

psycopg2-binary
ماذا تفعل؟

هي مكتبة Python للاتصال بـ PostgreSQL.

تمكنك من:

تنفيذ SQL Queries

إدخال/استرجاع البيانات

إدارة Snapshots الزمنية

نخزن:
ارشيف للمسح
وهذا يتطلب قاعدة بيانات قوية.

requests
ماذا تفعل؟

مكتبة لإرسال HTTP Requests من Python.


ASM يعتمد بشكل كبير على OSINT و External APIs:

crt.sh (Certificate Transparency)

WHOIS APIs

Blacklist APIs

ASN / Hosting APIs


python-dotenv
ماذا تفعل؟

تحميل متغيرات البيئة من ملف .env.
لماذا نحتاجها في مشروع ASM؟

لأسباب أمنية وتنظيمية:

❌ لا تضع:

كلمات مرور DB

API Keys

Tokens

داخل الكود.
نضعها في:

DB_HOST=db
DB_USER=asmuser
DB_PASSWORD=asmpassword
ثم:

from dotenv import load_dotenv
load_dotenv()
يطبقSecure Coding Practices

